body {
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



.left {
    display: flex;
    position: absolute;
    left: 20px;
}

.mid {
    display: flex;

    position: absolute;
    left: 30%;
    top: 30px;


}

.mid li a {
    list-style: none;
    text-decoration: none;
    color: aliceblue;
    padding: 20px 20px;
    margin: 10x auto;


}
li a:hover{
    text-decoration: underline;
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    
    border: 5px;
    border-radius: 10px;
    
}
.right{
    display: flex;

    position: absolute;
    right: 30px;
    top: 20px;
}

button{
    background-color: aliceblue;
    color: black;
    border: 2px ;
    border-radius: 10px;
    padding: 20px 20px;
    margin: 20px 20px;
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
}
button:hover{
    background-color: rgb(246, 234, 234);
    color: aliceblue;

}
.secondmid h1{
    font-weight:4rem;
    display: inline-block;
    position:absolute;
    top: 200px;
    left: 30px;
    width: 40%;
    

    
    
}
#footer{
    background-color: aliceblue;
    color: black;
    border: 22px;
    border-radius: 10px;
    display: flex
;
    position: absolute;
    top: 400px;
    font-size: 1rem;
    margin: 10px 10px;
    padding: 30px 20px;
    width: 96%;
    height: 30%;
}
#footer p{
display: flex;
position: absolute;
width: 90%;
top: 100px;
}
.thirdleft img{
    display: flex;
    
        position: absolute;
        top: 350px;
        left: 1%;
    }
    form{
        background-color: rgb(255, 255, 255);
    color: black;
    border: 26px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    width: 40%;
    height: 55%;
    position: absolute;
    top: 748px;
    left: 25%;
    margin: 10px 10px;
    padding: 30px 30px;
    text-decoration: none;
    }
    .forms-group{
       
        border: 10px;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 10px auto;
       list-style: none;
       font-size: large;
    }
    button.sumbit{
        background-color: black;
        color: white;
        border: 3px solid black;
        border-radius: 10px 10px;
    }
    .sumbit:hover{
        background-color: rgb(245, 250, 255);
        color: black;

    }


